@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* GERAIS */

.container{
    max-width: 1600px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* login */

section.area-login{
    display: flex;
    background-color: #2d0869;
    justify-content: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section.area-login .login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    border-radius: 20px;
    width: 455px;
    height: 420px;
    padding: 35px;
}

section.area-login .login form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

section.area-login .login input{
    margin-top: 25px;
    background-color: #252a34;
    padding-left: 14px;
    color: #CBD0F7;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
}

section.area-login .login img{
    width: 70px;
    margin-bottom: 10px;
    height: auto;
}

section.area-login .login form input::placeholder{
    color: #dacaf3;
    font-size: 14px;
}

section.area-login .login form [type="submit"]{
    display: block;
    background-color: #6610F2;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}
section.area-login .login form [type="submit"]:hover{
    background-color: #2d0869;
}


section.area-login .login p{
    margin-top: 30px;
    font-size: 17px;
    color: #CBD0F7;
}

section.area-login .login p a{
    color: #8031ff;
    text-decoration: none;
    margin-left: 10px;

    transition: 0.3s;
}
section.area-login .login p a:hover{
    color: #a470f8;
}

/* header */

header{
    padding: 10px 0;
    background-color: #6610F2;
    color: #fff;
}

.logo{
    float: left;
}
.logo img{
    margin-right: 10px;
    float: left;
    width: 50px;
}
.logo h2{
    float: left;
    line-height: 60px;
}

.nav ul{
    float: right;
}
.nav ul li{
    line-height: 60px;
    margin-left: 20px;
    float: left;
    list-style-type: none;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;

    transition: 0.4s;
}
.nav ul li a:hover{
    font-size: 18px;
}

.nav ul li a i{
    font-size: 20px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}


/* section 1 */

section.section1{
    padding: 20px 0 60px 0;
    background-color: #6610F2;
}
.section1-banner{
    margin: 0px auto;
    background-color: #fff;

    background-image: url('../images/banner2.png');
    width: 100%;
    height: 600px;

    border-radius: 30px;
}

/* section 2 */

